
*.class

*.log

/target/
.mvn/wrapper/maven-wrapper.properties

# IDEs
# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Temporary files
*.tmp
*.swp

# Environment variables
.env
resources